frogserv
config.h
config.mk

*.log
log.txt
core.*
vgcore.*

server-init.cfg
config.cfg

engine/*.[Po]
shared/*.[Po]
fpsgame/*.[Po]

enet/.deps
enet/.libs
enet/*.o
enet/*.lo
enet/Makefile
enet/config.log
enet/config.status
enet/*.la
enet/*.pc
enet/libtool

libevent2/.deps
libevent2/.libs
libevent2/Makefile
libevent2/*.o
libevent2/*.lo
libevent2/*.la
libevent2/*.pc
libevent2/config.h
libevent2/config.log
libevent2/config.status
libevent2/event-config.h
libevent2/include/Makefile
libevent2/include/event2/event-config.h
libevent2/libtool
libevent2/sample/Makefile
libevent2/sample/*.o
libevent2/sample/.libs
libevent2/stamp-h1
libevent2/test/.deps
libevent2/test/.libs
libevent2/test/Makefile
libevent2/test/*.o
