<?php

class Config {

    public static $databaseDsn = "mysql:host=localhost;dbname=frogmod";
    public static $databaseUsername = "";
    public static $databasePassword = "";
    public static $debug = false;

}
